.section1,
.section2 {
  max-width: 1920px;
  width: 90%;
  margin: auto;
}
.h2 {
  font-size: x-large;
  font-weight: bolder;
  font-family: font1;
  padding-bottom: 20px;
}
.article11 {
  max-width: 463px;
  width: 22%;
  display: inline-block;
  color: #171717;
  padding-left: 137px;
  padding-right: 137px;
  vertical-align: top;
  font-family: font2;
  font-size: small;
  color: #171717;
}
.article22 {
  max-width: 463px;
  width: 22%;
  display: inline-block;
  color: #171717;
  padding-left: 137px;
  padding-right: 137px;

  vertical-align: top;
  font-family: font2;
  font-size: small;
  color: #171717;
}
.section1 {
  padding-top: 180px;
  padding-bottom: 394px;
}

.image11 {
  max-width: 707px;
  width: 30%;
  max-height: 707px;
  border-radius: 15px;
  border-bottom: 8px solid #0a22f4;
  border-right: 8px solid #0a22f4;
  margin-top: 150px;
}
.image22 {
  max-width: 707px;
  width: 30%;
  max-height: 707px;
  border-radius: 15px;
  border-bottom: 8px solid #0a22f4;
  border-left: 8px solid #0a22f4;
  margin-top: 150px;
}
header {
  background-color: #0a22f4;
  background-size: 100% 308px;
  padding: 20px;
  margin-bottom: 20px;
  position: fixed;
}
.sticky {
  position: sticky;
  background-color: aqua;
  padding: auto;
}

.section111 {
  width: 100%;
  background-color: #0a22f4;
}
.h111 {
  color: #ffffff;
  font-family: font1;
  padding-left: 240px;
  padding-top: 70px;
  position: relative;
  padding-bottom: 200px;
}
.img111 {
  border-radius: 15px;
  max-width: 463px;
  max-height: 420px;
}
.img222 {
  border-radius: 15px;
  max-width: 463px;
  max-height: 420px;
}
.img333 {
  max-width: 463px;
  border-radius: 15px;
  max-height: 420px;
}
.article111 p {
  max-width: 339px;
  bottom: 0;
  background-color: #ffffff;

  border-radius: 12px;
  position: absolute;
  padding: 30px;
  width: 95%;
  left: 8%;
  font-family: font2;
}
.article111 {
  position: relative;
  margin-left: 130px;
  padding-top: 80px;
}
.article222 p {
  max-width: 339px;
  width: 95%;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 12px;
  position: absolute;
  left: 8%;
  bottom: 0;
  font-family: font2;
  padding: 30px;
}
.article222 {
  position: relative;
  margin-left: 130px;
}
.article333 p {
  max-width: 130px;
  width: 95%;
  background-color: #ffffff;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
  left: 8%;
  padding: 30px;
  font-family: font2;
}
.article333 {
  position: relative;
  margin-left: 130px;
}
.article111,
.article222,
.article333 {
  display: inline-block;
  max-width: 463px;
  width: 20%;
}
.bolo {
  font-size: large;
  font-weight: bold;
  font-family: font1;
  text-align: right;
  padding-right: 256px;
  padding-top: 80px;
}
